.Toolbar {
    position: fixed;
    height: 56px;
    width: 100%;
    background-color: #444;
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 90;
    top: 0;
    left: 0;
    padding: 0 20px;
    box-sizing: border-box;
}

.Toolbar nav {
    height: 100%
}

@media(max-width: 499px) {
    .DeskTop {
        display: none
    }
}

.icon {
    display: none
}

@media (max-width: 500px) {
    .icon {
        display: block
    }
}