.Input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px
}

.Label {
    font-weight: bold;
    display: block;
    margin: 0 0px 8px 0
}

.InputElement {
    outline: none;
    border: 1px solid #ccc;
    background-color: #fff;
    font: inherit;
    padding: 10px 6px;
    display: block;
    width: 100%;
    box-sizing: border-box
}

.InputElement:focus {
    outline: none;
    background-color: #ccc
}

.Valide {
    border: 1px solid red;
    background-color: salmon
}

.ValidationError{
    color: red;
    margin: 5px 0
}